
{% extends "layout.html" %}

{% block content %}
   
    <form action="/operasBas" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="met-5 pt-5">
            <label for="n1" class="form-label">Numero 1</label>
            <input type="number" class="form-control" name="n1" id="n1" required>
        </div>
        <div class="met-5 pt-5">
            <label for="n2" class="form-label">Numero 2</label>
            <input type="number" class="form-control" name="n2" id="n2" required>
        </div>
        <div class="met-5 pt-5">
            <button type="submit" class="btn btn-primary">Resultado</button>
        </div>
    </form>
        <h1>La suma es {{ res }}</h1>

{% endblock%}